$color-text: #000000
$color-accent: #000000
$color-text-alt: #454545
$color-background: #ffff
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 1)

$heading-font-family: "Bricolage Grotesque", sans-serif !default    
$body-font-family: $heading-font-family
$hero-background-color: transparent
$header-background: transparent
$header-sticky-background: transparent



$footer-background-color: transparent

$hero-height-desktop: 10vh

$header-border-bottom-width: pxToRem(1)